@layer base {
  html {
    font-size: 1rem;
  }

  body {
    @apply bg-background font-body text-base;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-heading;
  }

  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-6xl;
  }
  h3 {
    @apply text-5xl;
  }
  h4 {
    @apply text-4xl;
  }
  h5 {
    @apply text-3xl;
  }

  .wrapper {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100svh;
  }
}
